#root {
  display: grid;
  height: 100dvh;
  grid-template-columns: 10% auto;
  grid-template-rows: 5% auto 5%;
  grid-template-areas:
    "nav . ."
    "nav main main"
    "nav footer footer";
}

nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
