nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
svg{
    display: inline-block;
    width: auto;
    height: 30px;
    align-self: center;
    padding: 5px;
}